<div class="user-data full-width">
  <div class="user-profile">
      <div class="username-dt">
          <div class="usr-pic">
              <img src="{{userInformation.ImageSrc}}" alt="">
          </div>
      </div>
      <div class="user-specs">
          <h3>{{userInformation.Name}}</h3>
          <span>{{userInformation.Designation}}</span>
      </div>
  </div>
  <ul class="user-fw-status">
      <li>
          <h4>Following</h4>
          <span>{{userInformation.Following}}</span>
      </li>
      <li>
          <h4>Followers</h4>
          <span>{{userInformation.Followers}}</span>
      </li>
      <li>
          <a routerLink="/my-profile" routerLinkActive="active" title="">View Profile</a>
      </li>
  </ul>
</div>