<div class="tags-sec full-width">
  <ul>
      <li><a routerLink="/" title="">Help Center</a></li>
      <li><a routerLink="/" title="">About</a></li>
      <li><a routerLink="/" title="">Privacy Policy</a></li>
      <li><a routerLink="/" title="">Community Guidelines</a></li>
      <li><a routerLink="/" title="">Cookies Policy</a></li>
      <li><a routerLink="/" title="">Career</a></li>
      <li><a routerLink="/" title="">Language</a></li>
      <li><a routerLink="/" title="">Copyright Policy</a></li>
  </ul>
  <div class="cp-sec">
      <img src="assets/images/logo2.png" alt="">
      <p><img src="assets/images/cp.png" alt="">Copyright 2019</p>
  </div>
</div>