<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                           <app-user-data></app-user-data> 
                           <app-suggestions></app-suggestions> 
                           <app-tags-sec></app-tags-sec> 
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 no-pd">
                        <div class="main-ws-sec">
                            <app-add-post-placeholder></app-add-post-placeholder>
                            <div class="posts-section">
                                <app-post-bar></app-post-bar>
                                <app-loading></app-loading>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 pd-right-none no-pd">
                        <div class="right-sidebar">
                            <app-widget-about></app-widget-about>
                            <app-widget-jobs></app-widget-jobs>
                            <app-widget-jobs></app-widget-jobs>
                            <app-suggestions></app-suggestions>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</main>